.main{
  height: 100vh;
  background-color: rgb(239, 255, 255);
  width: 600px;
  margin-left: 370px;
  /* border-radius: 10px; */
  margin-top: 80px;
  position: absolute;
}


.heading ul{
  display: flex;
  justify-content: space-between;
  
}

.heading ul li{
  font-family: Sans-serif;
  list-style-type: none;
}


.heading{
  width: 90%;
  height: 50px;
  background-color:  rgb(234, 244, 252);
  margin-left: 4%;
  padding-top: 5px;
  margin-top: 5px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.data_store{
  width: 90%;
  height: 50px;
  background-color:  rgb(234, 244, 252);
  margin-left: 4%;
  padding-top: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  font-family: sans-serif;
}
